* {
overflow-x: hidden;
}
.navbar {
    width: 100%;
    position: sticky;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.navbar img {
    margin-left: 15px;
    width: 125px;
}

.navbar ul {
     width: 100%;
     margin: 0;
     padding: 0; 
     justify-content: flex-end;
     flex-direction: row;
     align-items: center;
}

.navbar li a {
    flex-wrap: wrap;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.navbar li a:hover {
    color: #E1002A;
    transition: 0.3s;
}

@media (max-width: 768px) {  
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    } 
    .navbar ul {
        justify-content: center;
    } 
} 





